# Rules for hotplugging Monoprice 22 touchscreen
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0b57", ATTR{idProduct}=="9016", RUN+="/usr/local/bin/load_mono_22.sh"
